<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inferential SQLi - LearnCyber</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/credits.css?notpartofthechallenge" rel="stylesheet" />
    <link href="/static/main.css" rel="stylesheet" />
</head>

<body>
    <div class="m-auto">
        <h1 class="mb-4">Inferential SQLi</h1>
        {% if user %}
        <p>Logged in!</p>
        {% endif %}
        {% if invalid %}
        <p>Wrong password!</p>
        {% endif %}
        <form method="post" class="text-start">
            <div class="mb-2">
                <label class="form-label">Your Password</label>
                <input class="form-control" type="password" name="password" />
            </div>
            <button type="submit" class="btn btn-outline-light mt-3 w-100">Login!</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/eeaba7a5c6.js"></script>
    <script src="/static/credits.js?notpartofthechallenge"></script>
    <script src="/static/main.js"></script>
</body>

</html>