h1 {
    font-family: 'Pacifico', cursive;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(13, 15, 41);
    color: white;
    text-align: center;
    display: flex;
    height: 100vh;
}

#payload {
    background: none !important;
    max-width: 100%;
    width: 500px !important;
    color: white !important;
    text-align: center !important;
    padding: 1rem 3rem;
}